<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title" data-i18n="support_page.title"></h3>
  </div>
</div>
<div class="support page-wrapper">
  <div class="row-fluid">
    <div class="span2"><div class="img-contact-support"></div></div>
    <div class="span10">
      <h4 data-i18n="support_page.contact_support"></h4>
      <p data-i18n="support_page.contact_text">
      </p>
      <p>
        <a class="btn" href="https://fi-xifi.eu/home.html" target="_blank">Contact support</a>
      </p>  
    </div>
  </div>
  <hr>
   <div class="row-fluid">
    <div class="span2"><div class="img-download-logs"></div></div>
    <div class="span10">
      <h4 data-i18n="support_page.download_diagnostic_snapshot_text"></h4>
      <p data-i18n="support_page.log_text">
      </p>
      <p>
          <%
              var task = tasks.findTask({name: 'dump'});
              var taskCompleted = task && task.get('progress') == 100;
          %>

          <% if (!_.isNull(tasks.deferred)) { %>
            <button class="btn download-logs-progress disabled" data-i18n="loading"></button>
          <% } else { %>
            <% if (!task || taskCompleted) { %>
            <button class="btn download-logs" data-i18n="support_page.gen_diagnostic_snapshot_text"></button>
            <% } %>
          <% } %>

          <button class="btn hide genereting-logs disabled" data-i18n="support_page.gen_logs_snapshot_text"></button>

          <% if (taskCompleted && task.get('status') == 'ready') { %>
          <span class="donwload-logs-link" style="margin-left: 10px;">
            <a href="<%- task.get('message') %>"><i class="icon-install"></i><span data-i18n="support_page.diagnostic_snapshot"></span></a>
          </span>
          <% } %>

          <% if (taskCompleted && task.get('status') == 'error') { %>
          <span class="error download-logs-error"><%- task.get('message') %></span>
          <% } %>
      </p>
    </div>
  </div>
</div>

  

