<form class="form-horizontal dcrm-step" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <p><b>Nova and DCRM schedulers</b></p>
      <p></p>
      <% var schedulers = [{
 	'label':'Filter scheduler','value':'nova.scheduler.filter_scheduler.FilterScheduler','description':'Currently the most advanced OpenStack scheduler.','options':'checked=\'checked\''},
	 {'label':'Simple scheduler','value':'nova.scheduler.simple.SimpleScheduler','description':'This is \'naive\' scheduler which tries to find the least loaded host','options':''},
{'label':'IBM DCRM Pivot scheduler','value':'nova.scheduler.pivot_scheduler.PivotScheduler','description':'PIVOT is an advanced placement manager for clouds capable of deploying, optimizing and relocating virtual machines','options':''}, 
{'label':'IBM DCRM Pulsar scheduler','value':'nova.scheduler.filter_scheduler.FilterScheduler.Pulsar','description':'ResourceManager Advanced Capacity Manager','options':''}
] %>

 <% _.each(schedulers, function(scheduler) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="scheduler" value="<%= scheduler['value'] %>" <%- scheduler['options'] %>/>
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%- scheduler['label'] %></div>
        </label>
        <div class="modal-parameter-description"><%- scheduler['description'] %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
