<form class="form-horizontal dcrm-step" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <p><b>FI-WARE DCRM GE</b></p>
      <p>The DCRM GE provides the basic Virtual Machine (VM) hosting capabilities, as well as management of the corresponding resources within the DataCenter that hosts a particular XIFI Cloud Instance.</p>
      
      <% var schedulers = ['nova.scheduler.pivot_scheduler.PivotScheduler', 'nova.scheduler.filter_scheduler.FilterScheduler.Pulsar'] %>
      <% var descriptions = {
        pivot: 'Choose this type of hypervisor if you run OpenStack on hardware',
        pulsar: 'Choose this type of hypervisor if you run OpenStack on virtual hosts'
      } %>
      <% _.each(schedulers, function(scheduler) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="scheduler" value="<%= scheduler %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%- scheduler %></div>
        </label>
        <div class="modal-parameter-description"><%- descriptions[scheduler] %></div>
      <% }) %>
    </div>
  </fieldset>
</form>